$cor-branco:rgb(255, 255, 255);
$letra-cor:#354259;

$--corlogodestaque: red;
$--corcinza: #776B5D;
$--cor-cinzaClaro:#ebecee;
$--corvermelho:#af301f;
$--corblue:#354259;
$--corazulpastel: #65647C;
$--cor-branco:rgb(255, 255, 255);
$--cor-cinzento: rgb(104, 104, 104);
$--cor-LetraDestaque: rgb(211, 92, 13);
$--cor-fundo: #7393ad;
$--cor-preto:rgb(0, 0, 0);

$--fonte-principal: "roboto", sans-serif;
$--fonte-secundaria: "Rubik", "Roboto", sans-serif;


