$cor-branco:rgb(255, 255, 255);
$letra-cor:#354259;

$--corlogodestaque: red;
$--corcinza: #776B5D;
$--cor-cinzaClaro:#ebecee;
$--corvermelho:#A73121;
$--corblue:#354259;
$--corazulpastel: #65647C;
$--cor-branco:rgb(255, 255, 255);
$--cor-cinzento: rgb(104, 104, 104);
$--cor-LetraDestaque: rgb(211, 92, 13);
$--cor-fundo: radial-gradient(circle, rgba(53,66,89,1) 60%, rgba(72,88,112,1) 83%);
$--cor-preto:rgb(0, 0, 0);

$--fonte-principal: "roboto", sans-serif;
$--fonte-secundaria: "Rubik", "Roboto", sans-serif;


