$cor-branco:rgb(255, 255, 255);
$letra-cor:rgb(50, 42, 66);

$--corlogodestaque: red;
$--corcinza: rgb(78, 78, 78);
$--cor-cinzaClaro:#ebecee;
$--corvermelho:rgb(219, 0, 0);
$--corblue:rgb(20, 36, 80);
$--cor-branco:rgb(255, 255, 255);
$--cor-cinzento: rgb(104, 104, 104);
$--cor-LetraDestaque: rgb(197, 94, 25);
$--cor-naodeterminada2: rgb(50, 42, 66);
$--cor-fundo: radial-gradient(circle, rgba(41,53,65,1) 22%, rgba(33,44,61,1) 55%);
$--cor-preto:rgb(0, 0, 0);

$--fonte-principal: "roboto", sans-serif;
$--fonte-secundaria: "Rubik", "Roboto", sans-serif;


