* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  overflow-x: hidden;
}

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  overflow-x: hidden;
}

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

header {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  top: 0;
  right: 0;
  padding: 0 1rem 0 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header nav .container-nav .container-btn:checked ~ .container-label > .sandwich-menu {
  background: #8da6bb;
}
header nav .container-nav .container-btn:checked ~ .container-label {
  background: #8da6bb;
}
header nav .container-nav .container-btn:checked ~ .container-label > .sandwich-menu > i {
  color: rgb(255, 255, 255);
}
header nav .container-nav .sandwich-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header nav .container-nav #menu {
  display: none;
}
header nav .container-nav .menu-list {
  display: none;
  position: absolute;
  width: 50vw;
  z-index: 2;
}
header nav .container-nav .menu-list .list-tittle {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  font-family: "roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(211, 92, 13);
}
header nav .container-nav .menu-list .item {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  font-family: "roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #354259;
  cursor: pointer;
}
header nav .container-nav .menu-list .item:hover {
  background-color: #ebecee;
}
header nav .container-nav .container-btn:checked ~ .menu-list {
  display: block;
}
header nav .container-tittle-logo i {
  color: rgb(211, 92, 13);
}
header nav .container-tittle-logo .tittle {
  display: none;
}
header nav .options {
  display: none;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header nav ul p {
  display: none;
}
header nav ul .icons {
  cursor: pointer;
  margin: 0 1rem 0 0;
}
header nav ul span {
  display: none;
}

i {
  color: #354259;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
}

@media screen and (min-width: 600px) {
  header {
    padding: 0 2rem 0 0;
  }
  header nav .container-nav {
    display: none;
  }
  header nav .container-tittle-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  header nav .container-tittle-logo .tittle {
    display: block;
    color: #354259;
    font-family: "roboto", sans-serif;
    font-size: 1.5rem;
  }
  header nav .container-tittle-logo .tittle span {
    color: rgb(211, 92, 13);
  }
  header nav .options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-transform: uppercase;
    display: inline-block;
  }
  header nav .options li:first-child {
    cursor: pointer;
  }
  header nav .options .option-btn:checked ~ .options-label > .options-itens {
    background: #8da6bb;
    color: rgb(255, 255, 255);
  }
  header nav .options #options-menu {
    display: none;
  }
  header nav .options .menu-list {
    display: none;
    position: absolute;
    width: 30vw;
    z-index: 2;
  }
  header nav .options .menu-list .item {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    color: #354259;
    font-family: "roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
  }
  header nav .options .menu-list .item:hover {
    color: rgb(255, 255, 255);
    background: #8da6bb;
  }
  header nav .options .option-btn:checked ~ .menu-list {
    display: block;
  }
  header nav .options .options-itens {
    padding: 0.5rem 1rem;
    font-family: "roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: #354259;
    display: inline-block;
  }
  header nav .options .options-itens:hover {
    background-color: #ebecee;
  }
  header nav .options .options-itens .item-link {
    color: #354259;
  }
  header nav ul {
    display: flex;
  }
  header nav ul .fav {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  header nav .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: "roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 1rem 0 0;
  }
  header nav .icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #354259;
    margin: 0 0.5rem;
    font-size: 1.4rem;
  }
  header nav .icons a span {
    display: block;
  }
  header nav .icons li:hover {
    background-color: #ebecee;
  }
  header i {
    font-size: 2rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  overflow-x: hidden;
}

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.banner {
  background: #8da6bb;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: rgb(255, 255, 255);
}
.banner .banner-tittle {
  font-family: "roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
.banner .banner-text {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}
.banner .banner-search {
  background-color: transparent;
  border: 2px solid #ebecee;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  padding: 0.5rem;
  width: 90%;
}
.banner .banner-search::placeholder {
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 255, 255);
  background: url(../assets/Pesquisa.png) no-repeat;
  background-size: 1.5rem;
  background-position: 1rem;
}

@media screen and (min-width: 600px) {
  .banner .banner-text {
    font-family: "roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .banner .banner-search {
    width: 60%;
  }
  .banner .banner-search::placeholder {
    font-family: "roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 900px) {
  .banner .banner-search {
    padding: 1rem;
    width: 45%;
  }
  .banner .banner-search::placeholder {
    font-family: "roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    background-position: 2.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  overflow-x: hidden;
}

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.carrosel-card .carrosel-tittle {
  color: rgb(211, 92, 13);
  background-color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  font-family: "roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem 1.2rem 0.5rem 1.2rem;
}
.carrosel-card .container-swiper .swiper {
  margin: 1rem;
}
.carrosel-card .container-swiper .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2%;
  object-fit: cover;
}
.carrosel-card .container-swiper .swiper .swiper-pagination {
  position: initial;
  margin: 1rem 0;
}
.carrosel-card .container-swiper .card {
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
.carrosel-card .container-swiper .card .card-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.carrosel-card .container-swiper .card .card-description .description {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  align-items: normal;
  padding: 0.5rem;
}
.carrosel-card .container-swiper .card .card-description .description .description-tittle {
  font-family: "roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: start;
  margin-bottom: 1.2rem;
  color: rgb(211, 92, 13);
}
.carrosel-card .container-swiper .card .card-description .description .container-text-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carrosel-card .container-swiper .card .card-description .description .container-text-card .category {
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #354259;
}
.carrosel-card .container-swiper .card .card-description .description .container-text-card .category span {
  color: rgb(211, 92, 13);
}
.carrosel-card .container-swiper .card .card-description .description .container-text-card .description-text {
  font-family: "roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0 1rem 0;
}
.carrosel-card .container-swiper .card .card-description .card-img {
  margin: 0.2rem;
  width: 50rem;
  height: auto;
}
.carrosel-card .container-swiper .card .card-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.carrosel-card .container-swiper .card .card-btn .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.carrosel-card .container-swiper .card .card-btn .buttons #loved {
  display: none;
}
.carrosel-card .container-swiper .card .card-btn .buttons #loved2 {
  display: none;
}
.carrosel-card .container-swiper .card .card-btn .buttons #buyit2 {
  display: block;
}
.carrosel-card .container-swiper .card .card-btn .buttons i {
  font-size: 2.5rem;
}
.carrosel-card .container-swiper .card .card-btn .buttons .btn-item-loved:checked + .heart .loved {
  display: none;
}
.carrosel-card .container-swiper .card .card-btn .buttons .btn-item-loved:checked + .heart .noloved {
  display: flex;
}
.carrosel-card .container-swiper .card .card-btn .buttons .btn-item-loved2:checked + .heart .loved2 {
  display: none;
}
.carrosel-card .container-swiper .card .card-btn .buttons .btn-item-loved2:checked + .heart .noloved2 {
  display: flex;
}
.carrosel-card .container-swiper .card .card-btn .buttons .loved {
  display: block;
}
.carrosel-card .container-swiper .card .card-btn .buttons .loved i {
  color: #776B5D;
}
.carrosel-card .container-swiper .card .card-btn .buttons .noloved {
  display: none;
}
.carrosel-card .container-swiper .card .card-btn .buttons .noloved i {
  color: #A73121;
}
.carrosel-card .container-swiper .card .card-btn .buttons .loved2 {
  display: block;
}
.carrosel-card .container-swiper .card .card-btn .buttons .loved2 i {
  color: #776B5D;
}
.carrosel-card .container-swiper .card .card-btn .buttons .noloved2 {
  display: none;
}
.carrosel-card .container-swiper .card .card-btn .buttons .noloved2 i {
  color: #A73121;
}
.carrosel-card .container-swiper .card .card-btn .buttons .heart {
  cursor: pointer;
}
.carrosel-card .container-swiper .card .card-btn .buttons .btn-item {
  display: inline;
  cursor: pointer;
}
.carrosel-card .container-swiper .card .card-btn .buttons .btn-item i {
  font-size: 2.5rem;
  color: #776B5D;
}
.carrosel-card .container-swiper .card .card-btn .btn-ancora {
  font-family: "roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(211, 92, 13);
  padding: 0.8rem 1rem;
  margin: 1rem 0 0 0;
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 500px) {
  .carrosel-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .carrosel-card .carrosel-tittle {
    width: 100%;
  }
  .carrosel-card .container-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .carrosel-card .container-swiper .swiper {
    width: 65vw;
  }
  .carrosel-card .container-swiper .swiper .swiper-slide img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carrosel-card .container-swiper .swiper .swiper-pagination {
    position: initial;
    margin: 1rem 0;
  }
  .carrosel-card .container-swiper .card {
    width: 50vw;
    margin: 1rem 0 2rem 0;
  }
  .carrosel-card .container-swiper .card .card-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .carrosel-card .container-swiper .card .card-description .description {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: column;
    align-items: normal;
  }
  .carrosel-card .container-swiper .card .card-description .description .description-tittle {
    text-align: start;
    margin-bottom: 1.2rem;
    color: rgb(211, 92, 13);
  }
  .carrosel-card .container-swiper .card .card-description .description .container-text-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .carrosel-card .container-swiper .card .card-description .description .container-text-card .category {
    text-align: center;
    color: #354259;
  }
  .carrosel-card .container-swiper .card .card-description .description .container-text-card .description-text {
    padding: 1rem 2rem 1rem 0;
  }
  .carrosel-card .container-swiper .card .card-description .card-img {
    margin: 0.2rem 0;
    width: 30rem;
    height: auto;
  }
  .carrosel-card .container-swiper .card .card-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons #loved {
    display: none;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons #loved2 {
    display: none;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons .btn-item-loved:checked + .heart .loved {
    display: none;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons .btn-item-loved:checked + .heart .noloved {
    display: flex;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons .btn-item-loved2:checked + .heart .loved2 {
    display: none;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons .btn-item-loved2:checked + .heart .noloved2 {
    display: flex;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons .loved {
    display: block;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons .noloved {
    display: none;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons .loved2 {
    display: block;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons .noloved2 {
    display: none;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons .heart {
    cursor: pointer;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons .btn-item {
    display: inline;
    cursor: pointer;
  }
  .carrosel-card .container-swiper .card .card-btn .btn-ancora {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(211, 92, 13);
    padding: 0.8rem 1rem;
    margin: 1rem 0 0 0;
    color: rgb(255, 255, 255);
    transition: 0.5s all;
  }
  .carrosel-card .container-swiper .card .card-btn .btn-ancora:hover {
    color: rgb(255, 255, 255);
    background-color: #65647C;
    border: solid 1px #8da6bb;
  }
}
i {
  font-size: 2rem;
}

@media screen and (min-width: 900px) {
  .carrosel-card .container-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90vw;
    margin: 0 20vw 1rem 20vw;
  }
  .carrosel-card .container-swiper .swiper {
    width: 40%;
    margin: 1rem 2rem 3rem 0;
  }
  .carrosel-card .container-swiper .card {
    width: 35%;
  }
  .carrosel-card .container-swiper .card .card-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .carrosel-card .container-swiper .card .card-description .description {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: column;
  }
  .carrosel-card .container-swiper .card .card-description .card-img {
    margin: 5px 5px 5px 5px;
    width: 400px;
    height: auto;
  }
  .carrosel-card .container-swiper .card .card-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .carrosel-card .container-swiper .card .card-btn .buttons .btn-item {
    display: inline;
    cursor: pointer;
  }
  .carrosel-card .container-swiper .card .card-btn .btn-ancora {
    padding: 0.5rem 0.5rem;
    color: rgb(255, 255, 255);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  overflow-x: hidden;
}

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.topics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #8da6bb;
  color: rgb(255, 255, 255);
  gap: 1rem;
  padding: 2rem;
}
.topics .topics-tittle {
  font-family: "roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem;
}
.topics .topics-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 2rem 1rem 3rem;
}
.topics .topics-menu .menu-item {
  background-color: rgb(211, 92, 13);
  padding: 1rem 2rem;
  cursor: pointer;
  font-family: "roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 600px) {
  .topics-tittle {
    font-family: "roboto", sans-serif;
    font-size: 2rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 900px) {
  .topics {
    padding: 1rem 15vw;
  }
  .topics .menu-item {
    transition: 0.5s all;
  }
  .topics .menu-item:hover {
    color: #354259;
    background-color: rgb(255, 255, 255);
    border: solid 1px #8da6bb;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  overflow-x: hidden;
}

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.contact {
  background-color: rgb(255, 255, 255);
  padding: 3rem;
}
.contact .contact-tittle {
  color: #354259;
  font-family: "roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
.contact .contact-text {
  color: rgb(104, 104, 104);
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2rem 0 2rem 0;
}
.contact .contact-email {
  padding: 1rem;
  border: 1px solid #354259;
  border-radius: 2.4rem;
  width: 98%;
  color: #354259;
}
.contact .contact-email::placeholder {
  font-family: "roboto", sans-serif;
  color: #354259;
}

@media screen and (min-width: 600px) {
  .contact {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact .contact-email {
    width: 70%;
  }
}
@media screen and (min-width: 900px) {
  .contact {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact .contact-email {
    width: 50%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  overflow-x: hidden;
}

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

footer {
  background-color: rgb(255, 255, 255);
}
footer .footer-tittle {
  padding: 5rem;
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #354259;
}

body {
  background-color: #ebecee;
  width: 100vw;
}

h1 {
  background-color: rgb(255, 255, 255);
}

/*# sourceMappingURL=styles.css.map */
